<div class="container">
  <h1>Trainer page</h1>
  <p>These are the pokemon you have collected so far!</p>
  <p>Click the button and check the console to see them</p>

  <button class="btn btn-warning" (click)="clickPokemon()">
    Display pokemon
  </button>
  <button class="btn btn-danger m-3" (click)="return()">
    Back to catalogue
  </button>
</div>
<!--Diplays users selected pokemon-->
