<div class="container">
  <h1>Log in and collect them all!</h1>

  <!--Stops page from refreshing and enables user to log in-->
  <form #createForm="ngForm" (ngSubmit)="onSubmit(createForm)">
    <fieldset class="mb-3">
      <label class="form-label" for="username">Username</label>
      <input
        type="text"
        class="form-control"
        id="username"
        name="username"
        placeholder="AshKetchum"
        ngModel
        #username="ngModel"
      />
    </fieldset>

    <button type="submit" class="btn btn-primary">Log in</button>
  </form>
</div>
