<div class="container">
  <h1>Catalogue page</h1>
  <p>Try to catch your very own pokemon!</p>
  <button
    type="button"
    class="btn btn-danger btn-circle btn-xl mb-5"
    (click)="turnCap()"
  >
    Catch Pikachu!
  </button>
  <br />
  <button class="btn btn-warning" (click)="training()">
    Visit trainer page
  </button>
</div>
<!--Display pokemon fetched in pokemon service-->
